<!doctype html>
<html lang="en">
  <head>    
    <!-- Primary Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Nicolas Dabreo | Full Stack Developer">
    <meta name="description" content="Full Stack Developer & Elixir Enthusiast">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dabreo.dev/">
    <meta property="og:title" content="Nicolas Dabreo | Full Stack Developer">
    <meta property="og:description" content="Full Stack Developer & Elixir Enthusiast">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://dabreo.dev/">
    <meta property="twitter:title" content="Nicolas Dabreo | Full Stack Developer">
    <meta property="twitter:description" content="Full Stack Developer & Elixir Enthusiast">
    <meta property="twitter:image" content="">

    <title>Nicolas Dabreo | Full Stack Developer</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/57c29cf32f.js" crossorigin="anonymous"></script>
  </head>

  <body class="font-sans">
    <main class="container mx-auto max-w-xl mt-32">
      {{ content | safe }}
    </main>
  </body>
</html>
